
.list {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    font-size: large;
      padding: 2rem;
      gap: 50px;
      flex-wrap: wrap;
  }
  
  .list-items a {
    font-size: 2rem;
    max-width: 100%;
    border-bottom: 2px solid;
  }
  
  .list-items a {
      border-color: olive;
      cursor: pointer;
  }