
#articulos {
    display: block;
    justify-content: center;
  align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
    margin-top: 5rem;
}

.articulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    flex: 1 1 clamp(300px, 30%, 400px);
}

.articulo__img {
  flex-wrap: wrap;
  padding: 1rem;
}

.articulo__title {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
  padding: 1rem;
  background-color: olive;
}

.articulo__price {
    font-size: 1, 5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1rem;
}

.articulo__button {
    border: none;
    background-color: olivedrab;
  color: #fff;
    padding: 1rem 2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 100%;
}

p {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    list-style: none;
}


hr {
    background-color: black;
}

.redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
    background-color: bisque;
    font-size: larger;
    padding: 1rem;
}

.redes a {
    font-size: larger;
    border-bottom: 1px solid;
}